<div class="container-fluid" class="border">
    <h1 style="text-align:center; font-family: roboto; font-size: 1.9pc">Project Details</h1>
    <div *ngIf="!projectLoaded">
        <img src="https://loading.io/spinners/microsoft/lg.rotating-balls-spinner.gif" alt="Image" style="width: 100px; height: 100px; margin-left: 47%;">
        <h3 style="text-align:center; font-family: roboto;">Loading project</h3>
    </div>
    <div class="row" style="margin: 0;" *ngIf="projectLoaded">
        <br>
        <div class="col-md-8">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-4">Project Name: </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="projectName" [disabled]="!isEditable" #prjName
                            [value]="project.name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Created On: </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="createdOn" [disabled]="true" [value]="project.createdDate">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Modified On: </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="modifiedOn" [disabled]="true" [value]="project.modifiedDate">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-offset-4  col-sm-6" style="padding: 0;margin-left: 30px;">
                        <button class="btn btn-primary" style="display: inline-block; margin-right: 10px; text-align:center; font-family: roboto;"
                            (click)="onEdit()" data-toggle="tooltip" data-placement="top" title="Edit!"><span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button class="btn btn-primary" [disabled]="!isEditable" style="display: inline-block; margin-right: 10px; text-align:center; font-family: roboto;"
                            (click)="onSave()" data-toggle="tooltip" data-placement="top" title="Save!"><span class="glyphicon glyphicon-ok"></span>
                        </button>
                        <button class="btn btn-primary" [disabled]="!isEditable" style="display: inline-block; margin-right: 10px; text-align:center; font-family: roboto;"
                            (click)="onDiscard()" data-toggle="tooltip" data-placement="top" title="Discard!"><span
                                class="glyphicon glyphicon-remove"></span> </button>
                        <button class="btn btn-primary" [disabled]="deleteInProgress" style="display: inline-block; text-align:center; font-family: roboto;"
                            (click)="onDelete()" data-toggle="tooltip" data-placement="top" title="Delete!"><span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <div *ngIf="deleteInProgress">
                        <img src="https://loading.io/spinners/color-bar/lg.colorful-progress-loader.gif" alt="Image"
                            style="width: 80px; height: 80px; margin-left: 60%;">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <img id="imageresource" src="data:image/jpeg;base64,{{ project.img }}" data-toggle="tooltip" data-placement="top"
                title="Click to view images!" class="img-responsive" style="vertical-align:middle;" (click)="displayModalImage()">
            <!-- Creates the bootstrap modal where the image will appear -->
            <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                    class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel" style="text-align:center; font-family: roboto;">Project
                                preview</h4>
                        </div>
                        <div class="modal-body">
                            <img src="" id="imagepreview" style="width: 400px; height: 264px; margin: 0 auto;" class="img-responsive">
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" style="text-align:center; font-family: roboto;" (click)="onExport()"><span
                                    class="glyphicon glyphicon-export" data-toggle="tooltip" data-placement="top" title="Export!"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>